Google-drive.json
{
  "name": "Google-drive",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "193haV_CSEHEdNjVWT4r3gM-Glekw4_ny",
          "mode": "list",
          "cachedResultName": "FAQ",
          "cachedResultUrl": "https://drive.google.com/drive/folders/193haV_CSEHEdNjVWT4r3gM-Glekw4_ny"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "73f5c0d8-c21a-4764-a15c-c02b4d26d86f",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "6GR776yv2XnTvbqc",
          "name": "Google Drive account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        208,
        0
      ],
      "id": "355d9e0f-783f-4153-9248-f872d7ffc7f4",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "6GR776yv2XnTvbqc",
          "name": "Google Drive account 2"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "myindex",
          "mode": "list",
          "cachedResultName": "myindex"
        },
        "options": {
          "pineconeNamespace": "FAQ"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        416,
        0
      ],
      "id": "88a236fb-e401-4760-90c8-198e8f804378",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "NhgZgW4m2Gub6jtT",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        400,
        208
      ],
      "id": "d697760c-ae8c-48b6-a365-34d66fefd36a",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "KDUrzFLocex1xDHn",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "loader": "csvLoader",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        560,
        208
      ],
      "id": "6523e310-17d0-45cb-ad9f-367361e16775",
      "name": "Default Data Loader"
    }
  ],
  "pinData": {},
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "344e71d2-f503-498f-bc59-f57d2bfe339d",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "a9978f20cfe6bab34633c8306b1cb6ef1820eb1b6680b7cd37d15162932bc635"
  },
  "id": "X4MP5hHFRADTJIF4",
  "tags": []
}