nathen application.json
{
  "name": "nathen application",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "triggerAtDay": [
                1
              ],
              "triggerAtHour": 9
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "0dada0f3-fe39-4c16-ba65-ab0596eb5806",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "https://internal.users.n8n.cloud/webhook/custom-erp",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "unique_id",
              "value": "4c20a9a73b8de5db8eee5e5cf1ddcf81"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        160,
        0
      ],
      "id": "d35bd9eb-ce04-48f3-8c9b-d7d6a115df7c",
      "name": "HTTP Request",
      "credentials": {
        "httpHeaderAuth": {
          "id": "2HjsOY1BniUqBgLO",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "appNZpFDmN3blI6tA",
          "mode": "list",
          "cachedResultName": "UZ-Base",
          "cachedResultUrl": "https://airtable.com/appNZpFDmN3blI6tA"
        },
        "table": {
          "__rl": true,
          "value": "tblZV8KCZUim9vofm",
          "mode": "list",
          "cachedResultName": "main_table",
          "cachedResultUrl": "https://airtable.com/appNZpFDmN3blI6tA/tblZV8KCZUim9vofm"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "orderID": "={{ $json.orderID }}",
            "customerID": "={{ $json.customerID }}",
            "orderPrice": "={{ $json.orderPrice }}",
            "employeeName": "={{ $json.employeeName }}",
            "orderStatus": "={{ $json.orderStatus }}"
          },
          "matchingColumns": [
            "Name"
          ],
          "schema": [
            {
              "id": "orderID",
              "displayName": "orderID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "customerID",
              "displayName": "customerID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "employeeName",
              "displayName": "employeeName",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "orderPrice",
              "displayName": "orderPrice",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "orderStatus",
              "displayName": "orderStatus",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        320,
        0
      ],
      "id": "32906b44-6151-4827-a5ba-18db40d4a884",
      "name": "main_table Create a record",
      "credentials": {
        "airtableTokenApi": {
          "id": "HOYk7HM2Pq93bzxw",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "appNZpFDmN3blI6tA",
          "mode": "list",
          "cachedResultName": "UZ-Base",
          "cachedResultUrl": "https://airtable.com/appNZpFDmN3blI6tA"
        },
        "table": {
          "__rl": true,
          "value": "tbltPsZP9R5qYdRCi",
          "mode": "list",
          "cachedResultName": "proccessing_table",
          "cachedResultUrl": "https://airtable.com/appNZpFDmN3blI6tA/tbltPsZP9R5qYdRCi"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "orderID": "={{ $('HTTP Request').item.json.orderID }}",
            "employeeName": "={{ $('HTTP Request').item.json.employeeName }}",
            "orderStatus": "={{ $('HTTP Request').item.json.orderStatus }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "orderID",
              "displayName": "orderID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "employeeName",
              "displayName": "employeeName",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "orderStatus",
              "displayName": "orderStatus",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        912,
        -160
      ],
      "id": "59e78896-2073-47e3-8f7e-ed54f77686f2",
      "name": "processing_table Create a record",
      "credentials": {
        "airtableTokenApi": {
          "id": "HOYk7HM2Pq93bzxw",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "d858bb10-c544-4df1-b507-7042398f453c",
              "leftValue": "={{ $('HTTP Request').item.json.orderStatus }}",
              "rightValue": "processing",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        688,
        -16
      ],
      "id": "1cc5e61f-fb34-46fa-bb35-9ca40cadbbea",
      "name": "If"
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "appNZpFDmN3blI6tA",
          "mode": "list",
          "cachedResultName": "UZ-Base",
          "cachedResultUrl": "https://airtable.com/appNZpFDmN3blI6tA"
        },
        "table": {
          "__rl": true,
          "value": "tblX936SFgdIScypm",
          "mode": "list",
          "cachedResultName": "booked_table",
          "cachedResultUrl": "https://airtable.com/appNZpFDmN3blI6tA/tblX936SFgdIScypm"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "orderID": "={{ $('HTTP Request').item.json.orderID }}",
            "employeeName": "={{ $('HTTP Request').item.json.employeeName }}",
            "orderStatus": "={{ $('HTTP Request').item.json.orderStatus }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "orderID",
              "displayName": "orderID",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "employeeName",
              "displayName": "employeeName",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "orderStatus",
              "displayName": "orderStatus",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        928,
        48
      ],
      "id": "5ec5f872-268b-49cc-9799-e25b9397af87",
      "name": "booked_table Create a record1",
      "credentials": {
        "airtableTokenApi": {
          "id": "HOYk7HM2Pq93bzxw",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "let items = $input.all();\nlet totalBooked = items.length;\nlet bookedSum = 0;\n\nfor (let i=0; i < items.length; i++) {\n  bookedSum = bookedSum + items[i].json.fields.orderID;\n}\n\nreturn [{ json: {totalBooked, bookedSum} }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1120,
        -160
      ],
      "id": "8857b94d-3082-4828-9d21-63652823a68c",
      "name": "Code"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n\"orderID\" : {{ $json.fields.orderID }},\n\"customerID\" :{{ $json.fields.customerID }},\n\"employeeName\" :\"{{ $json.fields.employeeName }}\",\n\"orderPrice\" :{{ $json.fields.orderPrice }},\n\"orderStatus\" :\"{{ $json.fields.orderStatus }}\"\n\n\n\n\n\n}\n ",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        512,
        -16
      ],
      "id": "8dcb4bbf-fe18-42bf-9421-b24f5f8c88c7",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "authentication": "webhook",
        "content": "=This week we've {{$json[\"totalBooked\"]}} booked orders with a total value of {{$json[\"bookedSum\"]}}. My Unique ID: {{ $('HTTP Request').params[\"headerParameters\"][\"parameters\"][0][\"value\"] }}",
        "options": {}
      },
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        1328,
        -160
      ],
      "id": "e9f7b07d-7f10-4c35-8f05-5a42be26b42a",
      "name": "Discord",
      "webhookId": "9b17000b-c5a3-47b9-9805-97472f7a51ea",
      "credentials": {
        "discordWebhookApi": {
          "id": "Oj8qzbjy7ddH8Ppl",
          "name": "Discord Webhook account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "main_table Create a record",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "main_table Create a record": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "processing_table Create a record",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "booked_table Create a record1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Discord",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "booked_table Create a record1": {
      "main": [
        []
      ]
    },
    "processing_table Create a record": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "4051c5c9-5f5f-406d-8c57-f895c3eac7ae",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "1b44c83b36b47d8576827df9d30a4901befea0f419a0e8b1ed84fd1bb2ad4905"
  },
  "id": "IxqjgNyZfGGAnVfi",
  "tags": []
}