Rag application.json
{
  "name": "Rag application",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "triggerOn": "specificFolder",
        "folderToWatch": {
          "__rl": true,
          "value": "193haV_CSEHEdNjVWT4r3gM-Glekw4_ny",
          "mode": "list",
          "cachedResultName": "FAQ",
          "cachedResultUrl": "https://drive.google.com/drive/folders/193haV_CSEHEdNjVWT4r3gM-Glekw4_ny"
        },
        "event": "fileCreated",
        "options": {}
      },
      "type": "n8n-nodes-base.googleDriveTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "2c45492c-1f61-4e1f-80d7-f93789f9a673",
      "name": "Google Drive Trigger",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "GHpDQlxFhrMQhSZ2",
          "name": "Google Drive account 3"
        }
      }
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        208,
        0
      ],
      "id": "1dd22379-7042-45c2-8249-3f78e5ab92f0",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "GHpDQlxFhrMQhSZ2",
          "name": "Google Drive account 3"
        }
      }
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "myindex",
          "mode": "list",
          "cachedResultName": "myindex"
        },
        "options": {
          "pineconeNamespace": "FAQ"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        416,
        0
      ],
      "id": "7ba96c58-05aa-42ca-918c-3cd8fecb52e8",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "NhgZgW4m2Gub6jtT",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        352,
        160
      ],
      "id": "197b6b04-fb78-428d-b14d-df0dc009e2da",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "KDUrzFLocex1xDHn",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        560,
        208
      ],
      "id": "7aadbb50-bbf5-4be6-9402-61eda90eed14",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        1008,
        -48
      ],
      "id": "862c5a53-8eac-4540-accc-1b86e4af0322",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        768,
        -128
      ],
      "id": "2c2ab402-e90d-4bf8-a45a-14e8a363ff0d",
      "name": "When chat message received",
      "webhookId": "7b6e6cb6-7d36-41d8-9fe8-c7245345f98f"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        880,
        160
      ],
      "id": "7c475982-e499-44c4-a165-10cbc9612e8d",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "KDUrzFLocex1xDHn",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "This is a tool to get info about faq folder in google sheet.",
        "pineconeIndex": {
          "__rl": true,
          "value": "myindex",
          "mode": "list",
          "cachedResultName": "myindex"
        },
        "options": {
          "pineconeNamespace": "FAQ"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        1360,
        -48
      ],
      "id": "f224bee8-d54a-4afd-9a23-0f621d4f7f1b",
      "name": "Pinecone Vector Store1",
      "credentials": {
        "pineconeApi": {
          "id": "NhgZgW4m2Gub6jtT",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        1456,
        160
      ],
      "id": "11d9a8b7-f6dd-4dba-b15b-4e9dbfd70f83",
      "name": "Embeddings OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "KDUrzFLocex1xDHn",
          "name": "OpenAi account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Google Drive Trigger": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI1": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "a96f52c3-7121-4972-8e1d-01ac8a855687",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "a9978f20cfe6bab34633c8306b1cb6ef1820eb1b6680b7cd37d15162932bc635"
  },
  "id": "RUMkwHgWbzzFuxbY",
  "tags": []
}